<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
    <link rel="shortcut icon" href="/img/freshfood-mini.PNG" type="image/x-icon">
    <title>FreshFood</title>
</head>
<body>
    <%- include('header') %>
    <!------------------------------------------------------------- MAIN ----------------------------------------------------------------------->
    <main>
        <div class="donationLocations-container">
            <h2>UK Associations</h2>
            <div class="association-card">
                <h2 class="association-title">The Trussell Trust</h2>
                <img src="/img/associations/1.png" alt="Trussell Trust Image" style="width: 15%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">The Trussell Trust is a charity that works to end the need for food banks in the UK.</p>
                <a class="association-link" href="https://www.trusselltrust.org/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">FareShare</h2>
                <img src="/img/associations/2.png" alt="FareShare Image" style="width: 23%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">FareShare is a network of charitable food redistributors, fighting hunger and food waste.</p>
                <a class="association-link" href="https://fareshare.org.uk/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">FoodCycle</h2>
                <img src="/img/associations/3.png" alt="FoodCycle Image" style="width: 13%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">FoodCycle combines surplus food, volunteers, and free kitchen space to create community meals.</p>
                <a class="association-link" href="https://www.foodcycle.org.uk/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">Oxfam UK</h2>
                <img src="/img/associations/4.png" alt="Oxfam UK Image" style="width: 15%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">Oxfam is a global movement that works to end poverty and injustice around the world.</p>
                <a class="association-link" href="https://www.oxfam.org.uk/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">Save the Children UK</h2>
                <img src="/img/associations/5.png" alt="Save the Children UK Image" style="width: 17%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">Save the Children works to improve the lives of children in the UK and around the world.</p>
                <a class="association-link" href="https://www.savethechildren.org.uk/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">Action Against Hunger UK</h2>
                <img src="/img/associations/6.png" alt="Action Against Hunger UK Image" style="width: 28%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">Action Against Hunger is a humanitarian organization committed to ending world hunger.</p>
                <a class="association-link" href="https://www.actionagainsthunger.org.uk/">Learn more</a>
            </div>

            <h2>USA Associations</h2>

            <div class="association-card">
                <h2 class="association-title">Feeding America</h2>
                <img src="/img/associations/7.png" alt="Feeding America Image" style="width: 28%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">Feeding America is the largest hunger-relief organization in the United States.</p>
                <a class="association-link" href="https://www.feedingamerica.org/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">No Kid Hungry</h2>
                <img src="/img/associations/8.png" alt="No Kid Hungry Image" style="width: 45%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">No Kid Hungry works to end child hunger in America through effective programs and advocacy.</p>
                <a class="association-link" href="https://www.nokidhungry.org/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">World Food Programme USA</h2>
                <img src="/img/associations/9.png" alt="World Food Programme USA Image" style="width: 17%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">World Food Programme USA supports the global mission to end hunger and achieve food security.</p>
                <a class="association-link" href="https://www.wfpusa.org/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">Meals on Wheels America</h2>
                <img src="/img/associations/10.png" alt="Meals on Wheels America Image" style="width: 80%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">Meals on Wheels America provides meals and support to seniors facing hunger and isolation.</p>
                <a class="association-link" href="https://www.mealsonwheelsamerica.org/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">The Global FoodBanking Network</h2>
                <img src="/img/associations/11.png" alt="Global FoodBanking Network Image" style="width: 25%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">The Global FoodBanking Network works to alleviate world hunger by supporting food banks.</p>
                <a class="association-link" href="https://www.foodbanking.org/">Learn more</a>
            </div>

            <div class="association-card">
                <h2 class="association-title">Bread for the World</h2>
                <img src="/img/associations/12.png" alt="Bread for the World Image" style="width: 48%;margin-top: 10px;margin-bottom: 10px;">
                <p class="association-description">Bread for the World is a collective Christian voice urging the nation to end hunger.</p>
                <a class="association-link" href="https://www.bread.org/">Learn more</a>
            </div>
        </div>
    </main>
    <%- include('footer') %>
    <script src="/scripts.js"></script>
</body>
</html>
