<footer>
  <a href="/"><img src="/img/logo-bleu.PNG" alt="FreshFood-logo" class="freshfood-footer"></a>
    <div class="footer-container">
      <div class="row">
        <div class="footer-col">
          <h4>Organization</h4>
          <ul>
            <li><a href="/donationLocation">Anti-hunger organization</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contact Us</h4>
          <ul>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Privacy</h4>
          <ul>
            <li><a href="/termsOfUse">Terms of Use</a></li>
          </ul>
        </div>
      </div>
     </div>
     <br>
     <br>
</footer>
