<header>
    <nav>
        <a href="/"><img src="/img/logo-bleu.PNG" alt="FreshFood-logo" class="img-nav"></a>
        <ul>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/recettes">Recipes</a></li>
              <li><a href="/addRecipe">Add Recipe</a></li>
              <li><a href="/userRecipes">User Recipes</a></li>
                <li><a href="/auth/logout">Log out</a></li>
                <img src="/img/user.png">
                <a href="/profile"><button>My account</button></a>
        </ul>
    </nav>
</header>