<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
    <link rel="shortcut icon" href="/img/freshfood-mini.PNG" type="image/x-icon">
    <title>FreshFood</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <h1 style="text-align: center;margin-top: 3%;text-decoration: underline rgb(44, 44, 44);color: #3C3C3C;">Terms Of Use</h1>
        <br>
        <section>
            <h2>1. Acceptance of Terms of Use</h2>
            <p>By using this site, you agree to the terms of use outlined below. If you do not agree to these terms, please do not use this site.</p>
        </section>

        <section>
            <h2>2. Use of Content</h2>
            <p>The content on this site is provided for informational purposes only. You may not reproduce, distribute, or otherwise use the content for commercial purposes without authorization.</p>
        </section>

        <section>
            <h2>3. User Conduct</h2>
            <p>While using this site, you agree to abide by ethical and responsible conduct. Any use that violates laws or regulations is strictly prohibited.</p>
        </section>

        <section>
            <h2>4. Privacy Policy</h2>
            <p>Our privacy policy outlines how your personal information is collected, used, and protected. By using this site, you also agree to our privacy policy.</p>
        </section>

        <section>
            <h2>5. Modifications to Terms</h2>
            <p>We reserve the right to modify these terms at any time. Any changes will be effective immediately upon posting. It is your responsibility to review these terms regularly.</p>
        </section> 
    </main> 
    <%- include('footer') %>
    <script src="/scripts.js"></script>
</body>
</html>
