/*************************************************************************** MOBILE *********************************************************************************/
@media screen and (max-width: 767px) {

  /*************** NAVBAR ***************/

  nav {
    background-color: #E8F9F5;
    padding: 25px;
  }

  .img-nav {
    width: 85px;
    margin-top: 5px;
    margin-bottom: -45px;
    margin-left: 2px;
  }

  nav ul button {
    margin-left: -95px;
  }

  nav ul img {
    width: 38px;
    margin-top: -33px;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  nav ul {
    margin-bottom: 0px;
    margin-left: 20%;
    margin-top: 31px;
  }

  li {
    font-size: 14px;
    font-weight: 700;
  }

  /*************** FOOTER ***************/

  .footer-col ul li a {
    font-size: 14px;
  }

  .footer-col h4 {
    font-size: 15px;
  }

  .freshfood-footer {
    width: 105px;
    margin-left: 43%;
  }

  .footer-container {
    max-width: 750px;
  }

  /*************** HOMEPAGE ***************/

  .image {
    width: 105px;
    margin-left: 2%;
  }

  .image2 {
    margin-top: -2%;
    width: 3%;
    margin-left: -18%;
  }

  .image3 {
    width: 24px;
    margin-left: -37%;
    margin-top: 7%;
  }

  .button-top {
    background-color: #4DC995;
    color: white;
    width: 275px;
    padding: 8px;
    font-size: 14px;
    border: solid 2px;
    border-radius: 10px;
    margin-top: 2%;
  }

  .titre1 {
    width: 55%;
    margin-left: 12%;
    color: #7DC2A5;
    font-size: 15px;
  }

  .titre2 {
    margin-top: 2%;
    font-size: 18px;
    margin-left: -13%;
  }

  .titre3{
    font-size: 18px;
  }

  .titres {
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: -33%;
  }

  .livre {
    height: 26vh;
  }

  .slider-overflow {
    margin-bottom: 5%;
  }

  .cadre-plats {
    max-width: 19%;
  }

  .card-articles p {
    font-size: 10px;
  }

  /*************** RECETTES ***************/

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 60%;
  }

  #search-btn {
    width: 11%;
    border-radius: 8px;
  }

  .search-btn {
    width: 50px;
    height: 39px;
    font-size: 1.2rem;
  }

  .meal-wrapper {
    max-width: 68%;
  }

  blockquote {
    margin-top: 15px;
  }

  .title {
    font-size: 1rem;
  }

  button[type="submit"] {
    padding: 0px 0px;
  }

  .meal-result {
    margin-top: 1rem;
  }

  .meal-name {
    padding: 1rem 0.1rem;
  }

  .meal-name h3 {
    font-size: 1rem;
  }

  .meal-img img {
    width: 100%;
    height: 255px;
  }

  .recipe-btn {
    font-size: 1rem;
    padding: 0;
    width: 175px;
    margin: 0.75rem auto;
  }

  .showRecipe {
    display: block;
    background-color: #3c3c3cad;
  }

  .meal-details-content {
    margin: 1rem;
  }

  .meal-wrapper {
    max-width: 375px;
  }

  /*************** ARTICLES ***************/

  .Allvideos {
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: 2%;
    align-items: center;
  }

  video {
    width: 94%;
    align-content: center;
    align-items: center;
    margin-left: 3%;
  }

  .titre-articles {
    margin-top: 5%;
  }

  /*************** FORMS ***************/

  .lien-login {
    margin-left: 1%;
  }

  form {
    gap: 2px;
    width: 50%;
    margin-bottom: 25%;
  }

  label {
    font-size: 12px;
    color: #333;
    font-weight: bold;
  }

  blockquote {
    margin-top: 15px;
    font-size: 15px;
  }

  .formulaire-recettes input {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 5px;
  }

  .updateForm input[type="text"],
  .updateForm input[type="email"],
  .updateForm input[type="password"] {
    width: 85%;
  }

  button[type="submit"] {
    padding: 5px 12px;
  }

  /*************** FORM RECETTE ***************/

  .formulaire-recettes form {
    gap: 2px;
  }

  .formulaire-recettes label {
    font-size: 12px;
    color: #333;
    font-weight: bold;
  }

  #search-input {
    width: 55%;
  }
  
  .search-btn {
    width: 50px;
    height: 28px;
    font-size: 1.1rem;
  }
  .association-card {
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
      margin-bottom: 10px;
    padding: 50px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: calc(50.33% - 30px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}


/* Media Queries */
  /*************************************************************************** MIN-WIDTH 992 *********************************************************************************/
  @media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}

  /*************************************************************************** MIN-WIDTH 600 *********************************************************************************/
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

  /*************************************************************************** MIN-WIDTH 768 *********************************************************************************/
@media screen and (min-width: 768px){
  /******************************RECETTES***************************/
  
  #meal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        background: #b4cdc4;
        width: 700px;
        height: 600px;
    }

}